@model Expats.Models.Details

@{
    ViewData["Title"] = "AllDetails";
}

<!DOCTYPE HTML>
<html>
<head>
    <title>Details</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
    <link href="~/css/assets/css/main.css" rel="stylesheet" />
    <noscript>
        <link href="~/css/assets/css/noscript.css" rel="stylesheet" />
    </noscript>
</head>
<body class="is-preload">

    <!-- Wrapper -->
    <div id="wrapper" class="fade-in">
        @{
            string naziv = Model.Name + ".jpg";
        }
        <!-- Intro -->
        <div id="intro">
            <img style="height:500px; width:100%" src="../../../../images/details/@naziv" alt="Images" />
            <h1>
                @Html.DisplayFor(model => model.Name, new { htmlAttributes = new { @class = "form-control" }, @readonly = "readonly" })
            </h1>
            <p>

            </p>
            <ul class="actions">
                <li><a href="#main" class="button icon solid solo fa-arrow-down scrolly">Continue</a></li>
            </ul>
        </div>

        <!-- Main -->
        <div id="main">

            <!-- Posts -->
            <section class="posts">
                <article>
                    <header>
                        @*<span class="date">April 24, 2017</span>*@
                        <h2>
                            @Html.DisplayFor(model => model.Name, new { htmlAttributes = new { @class = "form-control" }, @readonly = "readonly" })
                        </h2>
                    </header>
                    @*<a href="#" class="image fit"><img src="images/pic02.jpg" alt="" /></a>*@
                    @Html.DisplayFor(model => model.Description, new { htmlAttributes = new { @class = "form-control" }, @readonly = "readonly" })
                    @*<ul class="actions special">
                    <li><a href="#" class="button">Full Story</a></li>
                </ul>*@
                </article>
                <article>
                    <section class="split contact">
                        <section class="alt">
                            <h3>Address</h3>

                            @Html.DisplayFor(model => model.Address, new { htmlAttributes = new { @class = "form-control" }, @readonly = "readonly" })


                        </section>

                        <section>
                            <h3>Phone</h3>
                            @Html.DisplayFor(model => model.Phone, new { htmlAttributes = new { @class = "form-control" }, @readonly = "readonly" })

                        </section>

                        <section>
                            @{
                                string ime = "h" + "ttps://maps.google.com/maps?q=" + Model.Address + "&t=&z=13&ie=UTF8&iwloc=&output=embed";
                            }
                            <h3>Location</h3>
                            <!--Google map-->
                            <div  id="map-container-google-1" class="z-depth-1-half map-container" style="height: 200px; ">
                                <iframe  src="@ime" frameborder="0"
                                        style="border:0; width:250px; height:150px;"></iframe>
                            </div>

                            <!--Google Maps-->

                        </section>
                        @*<section>
                        <h3>Social</h3>
                        <ul class="icons alt">
                            <li><a href="#" class="icon brands alt fa-twitter"><span class="label">Twitter</span></a></li>
                            <li><a href="#" class="icon brands alt fa-facebook-f"><span class="label">Facebook</span></a></li>
                            <li><a href="#" class="icon brands alt fa-instagram"><span class="label">Instagram</span></a></li>
                            <li><a href="#" class="icon brands alt fa-github"><span class="label">GitHub</span></a></li>
                        </ul>
                    </section>*@
                    </section>
                </article>


            </section>
           


        </div>
        <hr />
        <footer style="margin:0px 0px 32px !important; font-family:Arial, Helvetica, sans-serif !important; font-size:16px !important;">
            <p>&copy; 2020 - Expats</p>
        </footer>
    </div>


        <!-- Scripts -->
        <script src="~/css/assets/js/breakpoints.min.js"></script>
        <script src="~/css/assets/js/browser.min.js"></script>
        <script src="~/css/assets/js/jquery.min.js"></script>
        <script src="~/css/assets/js/jquery.scrollex.min.js"></script>
        <script src="~/css/assets/js/jquery.scrolly.min.js"></script>
        <script src="~/css/assets/js/main.js"></script>
        <script src="~/css/assets/js/util.js"></script>
</body>
</html>